@import "/web-orig/remark.css";

/* As an example, let's remove the padding from around the Remark42 comment box. */
body {
  padding: 0;
  padding-top: 20px;
}

:root {
  --primary-color: #06c;
  --color9: #06c;
  --color15: #06c;
}

.comment-form_simple {
  border-radius: 6px;
}

.C_A {
  font-weight: 500;
  background-color: #06c;
  color: white;
}

.C_A:hover {
  background-color: #099;
  background-color: #06c;
}

.C_C:hover {
  background-color: #06c;
}

.C_H {
  border: 0;
  font-weight: 600;
  padding: 6px;
}

.root__copyright {
  font-size: 12px;
  margin: 10px 0 0; // changed
  text-align: right;
}

.A_A {
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
  margin-top: 10px; // changed
}

.button_kind_link:hover {
  color: #06c;
}
.button_kind_primary:hover {
  background: #06c;
}

.comment-form__markdown-link:hover {
  color: #06c;
}

.comment-form__field:focus {
    border-color: var(--color15);
    box-shadow: 0 0 0 2px rgb(0 102 204 / 30%);
    border-radius: 6px;
}
