<h{{ .Level }} id="{{ .Anchor | safeURL }}">
    <a class="hash-link nohover" href="#{{ .Anchor | safeURL }}">
        <svg width="20" height="20" viewBox="0 0 24 24"  fill="none" stroke="#0255a8" stroke-width="2" >
            <title>Link to this section</title>
            <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
            <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
        </svg>
    </a>&nbsp;{{ .Text | safeHTML }}
</h{{ .Level }}>
