@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

code {
  font-family: "Roboto Mono", monospace;
}

body {
  font-family: "Roboto", sans;
  font-weight: 500;
  line-height: inherit;
  color: inherit;
  background-color: {{ .Get "background" }};
  margin-top: 75px;
  padding-top: 0;
  counter-reset: captions;
}
