<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}" />
    {{ end }} {{ printf `
    <link rel="shortcut icon" href="%s" />
    ` ("favicon.ico" | absURL) | safeHTML }} {{ with .OutputFormats.Get "rss"
    -}} {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />
    ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}} {{
    $resources := slice -}} {{ $resources = $resources | append (resources.Get
    "css/main.css") -}} {{ $resources = $resources | append (resources.Get
    "css/min770px.css") -}} {{ $dark := .Site.Params.dark | default "auto" -}}
    {{ if not (eq $dark "off") -}} {{ $resources = $resources | append
    (resources.Get "css/dark.css" | resources.ExecuteAsTemplate "dark.css" .)
    -}} {{ end -}} {{ if .Site.Params.highlight -}} {{ $resources = $resources |
    append (resources.Get "css/syntax.css") -}} {{ end -}} {{ $css := $resources
    | resources.Concat "css/style.css" | minify }} {{ printf `
    <link rel="stylesheet" href="%s" />
    ` $css.RelPermalink | safeHTML }}

    <script
        async
        src="https://umami.pat-s.me/script.js"
        data-website-id="8d663acf-7fc0-45d2-9b93-3631f1c6df53"
    ></script>

    <script>
        var remark_config = {
            host: "https://remark42.pat-s.me",
            site_id: "gtp7VZBgqUWt4Kdar3D4Ze63q",
            simple_view: true,
            no_footer: true,
            theme: window.matchMedia && window.matchMedia('(prefers-color-scheme:dark)').matches ? "dark" : "light",
            show_rss_subscription: false,
            __colors__: {
                "--primary-color": "2,85,168",
                "--color9": "#0255a8",
            },
        };
    </script>

    <title>{{ .Title }}</title>
</head>
